.filesContainer {
  display: flex;
  flex-wrap: wrap;
  /* margin: -0.5rem; */
}

.overflowContainer {
  /* /* overflow-y: auto; */
  max-height: 800px;
}

.item {
  width: calc((100% / 6) - 1rem);
  margin: 0.5rem;
  text-align: center;
  cursor: pointer;
  overflow-wrap: break-word;
}

/* .item:hover {
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #0d6efd;
    outline: none;
    transition: .1s;
} */

.selectedItem {
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #0d6efd;
    outline: none;
    transition: .1s;
}

.btnsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* padding: 0 20px; */
}

.deleteBtns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.defaultBtns {
  display: flex;
  align-items: center;
  gap: 10px;
}
