.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.headerIcon {
  color: lightgray;
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}
